<p>This email is from IMS system,</p>

<p>You have an interview schedule <strong>TODAY</strong> at <strong>@Model.StartTime</strong> to <strong>@Model.EndTime</strong>.</p>

<p>With Candidate: <strong>@Model.CandidateName</strong></p>
<p>Position: <strong>@Model.CandidatePosition</strong></p>

<p>The CV is attached with this no-reply email.</p>

<p>If anything is wrong, please refer to recruiter <strong>@Model.RecruiterEmail</strong> or visit our website:</p>
<p><a href="@Model.ScheduleUrl">@Model.ScheduleUrl</a></p>

<p>Please join the interview room with ID: <strong>@Model.MeetingId</strong></p>

<br>
<p>Thanks & Regards!<br>IMS Team.</p>
