<p>This email is from IMS system,</p>
<p>You have an offer to take action for Candidate <strong>@Model.CandidateName</strong></p>
<p>Position: <strong>@Model.CandidatePosition</strong></p>
<p>Please take action before: <strong>@Model.OfferDueDate</strong></p>
<p>The contract is attached with this no-reply email.</p>
<p>Please refer to this link to take action: <a href="@Model.OfferDetailUrl">@Model.OfferDetailUrl</a></p>
<p>If anything is wrong, please reach out to the recruiter: <strong>@Model.RecruiterEmail</strong></p>
<p>We are so sorry for this inconvenience.</p>
<p>Thanks & Regards!<br/>IMS Team</p>
