This email is from IMS system,

You have an offer to take action For Candidate <strong>@Model.CandidateName</strong>
position <strong>@Model.PositionName</strong> before <strong>@Model.DueDate.ToString("dd/MM/yyyy")</strong>, the contract is attached with this no-reply-email

Please refer this link to take action: <a href="@Model.OfferLink">@Model.OfferLink</a>

If anything wrong, please reach-out recruiter <strong>@Model.RecruiterEmail</strong>. We are so sorry for this inconvenience.

Thanks & Regards!
IMS Team.